/* <!-- **START NOTE** I was working on this in a group with others. I have changed variables and tried to play around with the concept and functions. **END NOTE**  --> */

h1 {
    background-color:black;
    color: white;
    text-align: center;
    padding: 15px;
}

.cardCaster {
    text-align: center;
    border-style: solid;
    max-width: 200px;
    float: left;
    margin-right: 20px;
    background-color: lightskyblue;
}