body {
    background-color: blanchedalmond;
}

h1 {
    background-color:black;
    color: white;
    text-align: center;
    padding: 15px;
}

.list-group {
   padding-bottom: 25px;
}

#cityBox {
    margin-left: 730px;

}

#data{
    text-align: center;
}

.cardCaster {
    text-align: center;
    align-content: center;
    border-style: solid;
    max-width: 200px;
    float: left;
    margin-left: 125px;
    margin-bottom: 20px;
    background-color: lightskyblue;
}

.dayCard{
    padding-top: 15px;
}